In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
import os
from citipy import citipy

In [2]:
csv_2016_path = "CleanData/Zillow_2016avghomeval.csv"
csv_2018_path = "CleanData/Zillow_2018avghomeval.csv"

In [3]:
data_2016_df = pd.read_csv(csv_2016_path)
data_2018_df = pd.read_csv(csv_2018_path)

In [4]:
data_2016_df.head()

,ZipCode,City,State,Metro,CountyName,2016_AvgHomeValue
0,10065,New York,NY,New York-Newark-Jersey City,New York County,8959594
1,10075,New York,NY,New York-Newark-Jersey City,New York County,8299805
2,10021,New York,NY,New York-Newark-Jersey City,New York County,7677481
3,10014,New York,NY,New York-Newark-Jersey City,New York County,6369047
4,10128,New York,NY,New York-Newark-Jersey City,New York County,6354494

In [5]:
data_2018_df.head()

,ZipCode,City,State,Metro,CountyName,2018_AvgHomeValue
0,10065,New York,NY,New York-Newark-Jersey City,New York County,8779974
1,10075,New York,NY,New York-Newark-Jersey City,New York County,7859110
2,10021,New York,NY,New York-Newark-Jersey City,New York County,7397214
3,10128,New York,NY,New York-Newark-Jersey City,New York County,5937647
4,10014,New York,NY,New York-Newark-Jersey City,New York County,5687485

In [6]:
join_data_df = pd.merge(data_2016_df, data_2018_df, how='outer', on='ZipCode')
join_data_df = join_data_df.drop(["City_y","State_y","Metro_y","CountyName_y"], axis=1).rename(columns={"City_x":"City",\
                                                                                               "State_x":"State",\
                                                                                               "Metro_x":"Metro",\
                                                                                               "CountyName_x":"County"})

join_data_df.head(10)

,ZipCode,City,State,Metro,County,2016_AvgHomeValue,2018_AvgHomeValue
0,10065,New York,NY,New York-Newark-Jersey City,New York County,8959594.0,8779974.0
1,10075,New York,NY,New York-Newark-Jersey City,New York County,8299805.0,7859110.0
2,10021,New York,NY,New York-Newark-Jersey City,New York County,7677481.0,7397214.0
3,10014,New York,NY,New York-Newark-Jersey City,New York County,6369047.0,5687485.0
4,10128,New York,NY,New York-Newark-Jersey City,New York County,6354494.0,5937647.0
5,81611,Aspen,CO,Glenwood Springs,Pitkin County,4666409.0,5220188.0
6,10013,New York,NY,New York-Newark-Jersey City,New York County,4656021.0,4402882.0
7,2108,Boston,MA,Boston-Cambridge-Newton,Suffolk County,4381094.0,4818923.0
8,94027,Atherton,CA,San Francisco-Oakland-Hayward,San Mateo County,4277024.0,5320040.0
9,11962,Sagaponack,NY,New York-Newark-Jersey City,Suffolk County,4037442.0,4362714.0

In [10]:
join_data_df.to_csv("CleanData/Zillow_2016_2018_avghomeval.csv",index=False)

In [7]:
NY_data_df = join_data_df.loc[(join_data_df["State"]=="NY")]
NY_data_df.head(10)

,ZipCode,City,State,Metro,County,2016_AvgHomeValue,2018_AvgHomeValue
0,10065,New York,NY,New York-Newark-Jersey City,New York County,8959594.0,8779974.0
1,10075,New York,NY,New York-Newark-Jersey City,New York County,8299805.0,7859110.0
2,10021,New York,NY,New York-Newark-Jersey City,New York County,7677481.0,7397214.0
3,10014,New York,NY,New York-Newark-Jersey City,New York County,6369047.0,5687485.0
4,10128,New York,NY,New York-Newark-Jersey City,New York County,6354494.0,5937647.0
6,10013,New York,NY,New York-Newark-Jersey City,New York County,4656021.0,4402882.0
9,11962,Sagaponack,NY,New York-Newark-Jersey City,Suffolk County,4037442.0,4362714.0
11,10028,New York,NY,New York-Newark-Jersey City,New York County,3887964.0,3619090.0
12,10024,New York,NY,New York-Newark-Jersey City,New York County,3629868.0,3565878.0
13,10007,New York,NY,New York-Newark-Jersey City,New York County,3475266.0,3298737.0

In [9]:
highest_city_df = join_data_df.sort_values('2016_AvgHomeValue', ascending=False).drop_duplicates(['City']).reset_index()

highest_city_df = highest_city_df.sort_values('State', ascending=False).dropna().reset_index()
highest_city_df

,level_0,index,ZipCode,City,State,Metro,County,2016_AvgHomeValue,2018_AvgHomeValue
0,23,42,98039,Medina,WA,Seattle-Tacoma-Bellevue,King County,2353703.0,2954222.0
1,0,0,10065,New York,NY,New York-Newark-Jersey City,New York County,8959594.0,8779974.0
2,4,9,11962,Sagaponack,NY,New York-Newark-Jersey City,Suffolk County,4037442.0,4362714.0
3,21,39,11930,Amagansett,NY,New York-Newark-Jersey City,Suffolk County,2393443.0,2862551.0
4,19,36,11932,Bridgehampton,NY,New York-Newark-Jersey City,Suffolk County,2429699.0,2618084.0
5,10,21,11976,Water Mill,NY,New York-Newark-Jersey City,Suffolk County,2991381.0,3121823.0
6,17,31,7620,Alpine,NJ,New York-Newark-Jersey City,Bergen County,2546277.0,2532348.0
7,2,7,2108,Boston,MA,Boston-Cambridge-Newton,Suffolk County,4381094.0,4818923.0
8,16,30,33149,Key Biscayne,FL,Miami-Fort Lauderdale-West Palm Beach,Miami-Dade County,2591478.0,2591878.0
9,18,33,33109,Fisher Island,FL,Miami-Fort Lauderdale-West Palm Beach,Miami-Dade County,2465542.0,2519784.0
10,14,28,34102,Naples,FL,Naples-Immokalee-Marco Island,Collier County,2671339.0,2676049.0
11,5,10,33480,Palm Beach,FL,Miami-Fort Lauderdale-West Palm Beach,Palm Beach County,4037076.0,4425368.0
12,1,5,81611,Aspen,CO,Glenwood Springs,Pitkin County,4666409.0,5220188.0
13,9,20,81615,Snowmass Village,CO,Glenwood Springs,Pitkin County,3065228.0,3269910.0
14,12,25,94123,San Francisco,CA,San Francisco-Oakland-Hayward,San Francisco County,2774530.0,3376896.0
15,27,47,93108,Montecito,CA,Santa Maria-Santa Barbara,Santa Barbara County,2250603.0,2588743.0
16,26,45,90272,Los Angeles,CA,Los Angeles-Long Beach-Anaheim,Los Angeles County,2298660.0,2668153.0
17,25,44,90402,Santa Monica,CA,Los Angeles-Long Beach-Anaheim,Los Angeles County,2301748.0,3025571.0
18,24,43,94010,Burlingame,CA,San Francisco-Oakland-Hayward,San Mateo County,2325775.0,2831254.0
19,3,8,94027,Atherton,CA,San Francisco-Oakland-Hayward,San Mateo County,4277024.0,5320040.0
20,6,14,94028,Portola Valley,CA,San Francisco-Oakland-Hayward,San Mateo County,3324260.0,3559767.0
21,13,26,90210,Beverly Hills,CA,Los Angeles-Long Beach-Anaheim,Los Angeles County,2706473.0,3478777.0
22,7,16,94304,Palo Alto,CA,San Jose-Sunnyvale-Santa Clara,Santa Clara County,3127756.0,3713273.0
23,8,17,94022,Los Altos,CA,San Jose-Sunnyvale-Santa Clara,Santa Clara County,3125019.0,3832459.0
24,11,23,92657,Newport Beach,CA,Los Angeles-Long Beach-Anaheim,Orange County,2811837.0,2993655.0
25,15,29,94305,Stanford,CA,San Jose-Sunnyvale-Santa Clara,Santa Clara County,2606559.0,3274141.0
26,28,48,95070,Saratoga,CA,San Jose-Sunnyvale-Santa Clara,Santa Clara County,2227636.0,2750971.0